:root {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
  margin: 0;
}

header {
  height: 10rem;
  background-color: rgba(119, 129, 139, 0.638);
}

svg {
  width: 100%; 
}

.countries {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  align-content: center;
}

.country {
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: rgb(237, 240, 247);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  height: 150px
}

.country:hover, .country:focus {
  outline: 2px solid blue;
}

.country svg { 
  border-radius: 5px;
}

.country-title {
  text-align: center;
  font-size: 1rem;
}
